################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/__pycache__
/src/annotated_output - Copy.jpg
/src/annotated_output.jpg
